.popup__wrapper {
    width: 282px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    align-self: center;
    padding: 25px 0;
    transition: width 1s ease;
}

@media screen and (min-width: 581px) {
    .popup__wrapper {
        align-self: center;
        width: 430px;
        padding: 34px 0 37px;
    }
}