.cards__item {
    display: flex;
    position: relative;
    flex-direction: column;
    max-width: 282px;
    border-radius: 10px;
    background-color: #ffffff;

}

.cards__item::before {
    content: '';
    position: absolute;
    background-color: #000000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity 1s;
}

.cards__item:hover::before{
    opacity: .3;
}